.container {
  height: 100%;
  width: 100%;
}
.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5rem;
  row-gap: 1rem;
  grid-template-areas: "aside paragraph";
  & > .paragraph {
    grid-area: paragraph;
  }
  .aside {
    display: flex;
    grid-area: aside;
    justify-content: center;
    align-items: center;
    img.image {
      min-width: auto !important;
      width: auto !important;
      border-radius: 0 50% 0 50%;
      border: 5px solid white !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
  }
}
